@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark: #343a45
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: var(--dark);
}

header {
    background-color: var(--dark);
    width: 100%;
}

hr {
    opacity: 0.4;
    width: 95%;
    margin: auto;
    margin: 50px auto;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.menu li {
    display: inline;
    list-style: none;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.menu a:hover {
    text-decoration: underline;
    background-color: #ffffff11;
    border-radius: 5px;
}

.menu ul {
    text-align: center;
}

.grow1 {
    flex-grow: 1;
}

.grow2 {
    flex-grow: 2;
}

#profile_picture {
    width: 40px;
    height: 40px;
}

/* --- Banner --- */
.banner {
    display: flex;
    flex-flow: row nowrap;
    background: url('../img/hero-bg.png') center / cover fixed;
}

.banner>div {
    padding: 40px 20px 20px 20px;
    width: 50%;
}

.banner img {
    width: 80%;
}

.btn {
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.btn-green {
    background-color: #3cca67;
}

.btn-blue {
    background-color: #635bff;
}

.banner-buttons {
    margin-top: 32px;
}

.banner p,
.banner h2 {
    padding: 10px;
    text-align: justify;
}

/* Galeria de imagens */

.card-gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 300px;
    gap: 5px;
}

.card-gallery article {
    position: relative;
    background-color: var(--dark);
    text-align: justify;
    border-radius: 10px;
}

.card-gallery article h1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffffffc9;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: 0.5s;
}

.card-gallery article:hover h1 {
    opacity: 1;
    transition: 0.3s;
}

.card-gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-gallery h2,
.card-gallery p {
    color: white;
    padding: 16px;
    line-height: 24px;
}

.card-gallery .text-gallery {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--dark);
    z-index: 1;
}

.h-1 {
    grid-row: span 1;
}

.h-2 {
    grid-row: span 2;
}

.w-1 {
    grid-column: span 1;
}

.w-2 {
    grid-column: span 2;
}

.w-4 {
    grid-column: span 4;
}

.gallery-title {
    text-align: center;
    margin-bottom: 30px;
}

.card-gallery .btn {
    background-color: var(--dark);
    color: white;
    border: none;
}

.card-gallery article>div {
    position: absolute;
    top: 10px;
    right: 0;
    margin: 20px;
    opacity: 0;
    transition: 0.5s;
}

.card-gallery article:hover>div {
    opacity: 1;
    transition: 0.3s;
}

.like-btn:hover {
    color: red;
}

.card-gallery article>div a:first-child:hover {
    color: rgba(255, 255, 255, 0.747);
}

.card-gallery article:hover img {
    filter: brightness(50%);
}

/* seção de serviços */
.services {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: 20px;
}

.services-cards {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.service-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #F2F1F4;
    width: 16%;
    height: 380px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.103);
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    cursor: pointer;
}

.service-card h1 {
    font-size: 1.8em;
    line-height: 40px;
    font-weight: 100;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 0.8em;
    line-height: 22px;
}

.service-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 10px;
}

/* Seção depoimento */
.testimony {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    margin-top: 20px;
}

.testimony h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 2.4em;
}

.testimony h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: x-large;
}

.testimony>section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 20px;
}

.testimony-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 20%;
    text-align: center;
    padding: 20px;
}

.testimony-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* Footer */
footer {
    display: flex;
    flex-flow: column nowrap;
    font-family: "Montserrat", sans-serif;
}

.footer-first-line {
    background-color: #343a40;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    line-height: 24px;
}

.footer-first-line ul {
    list-style: none;
    font-weight: 500;
}

.footer-first-line a {
    text-decoration: none;
    color: white;
    padding-left: 30px;
}

.footer-first-line a:hover {
    text-decoration: underline;
}

.footer-first-line h3 {
    color: gray;
    text-transform: uppercase;
    font-weight: 600;
}

.footer-fl-block-1 {
    flex-grow: 1;
}

.footer-fl-block-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    flex-grow: 2
}

.footer-second-line {
    background-color: black;
    padding: 10px;
    color: lightgray;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}